*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: rgb(147, 20, 220);
}

.container{
  display: flex;
  flex-direction: column;
  width:  100%;
  height: 100vh;
  max-width: 30rem;
  margin: 0 auto;
  background: rgb(48, 1, 1);

}

header{
  
  flex: 2;
  background-image: url("assets/download.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: row;

}

main{
  flex: 5;
  position: relative;

}

footer{
  background: chartreuse;
  height: 1.5rem;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

}